---
import Layout from '../layouts/Layout.astro';
import PortfolioNav from '../components/home/PortfolioNav.astro';
import PortfolioFooter from '../components/home/PortfolioFooter.astro';
---

<Layout title="Kris Howes">
	<div class="flex min-h-screen flex-col bg-page font-sans text-cocoa">
		<PortfolioNav />
		<main id="main" class="flex-1"></main>
		<PortfolioFooter />
	</div>
</Layout>
